* {
  margin: 0;
  box-sizing: border-box;
}

.folder-container {
  display: flex;
}

.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width: 140px;
}

.folder-icon {
  height: 100px;
  width: 90px;
  background-color: lightpink;
}

.folder-name {
  background-color: transparent;
  border: none;
  outline: none;
  width: 95px;
  resize: none;
}
