* {
  margin: 0;
  box-sizing: border-box;
}

.file-container {
  display: flex;
}

.file {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width: 140px;
}

.file-icon {
  height: 80px;
  width: 72px;
}

.file-title {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #ffeded;
  text-align: center;
  margin-top: 5px;
  user-select: none;
  width: 70px;
  word-wrap: break-word;
}
