.app-berry {
  padding-top: 45px;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(176.1deg, #658498 -7.97%, #cd6077 134.17%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  overflow: hidden;
}

.app-peach {
  padding-top: 45px;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(176.1deg, #f3a493 -7.97%, #e36b77 134.17%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  overflow: hidden;
}
.prompt {
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #f1d0d0;
  text-align: center;
  user-select: none;
  z-index: 0;
  transition: all 0.1s ease-in;
}
